# Autotools build artifacts
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
missing
stamp-h1
other/Makefile
other/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/test_setting
tests/test-suite.log
tests/*.trs
tests/*.o
tests/*.log
